<!doctype html>
<html lang="en" ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <title>Fiddy Farmers</title>  
  
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">  
  <link rel="stylesheet" href="lib/onsen/css/onsen-css-components.css">  
  <link rel="stylesheet" href="styles/app.css"/>
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?sensor=true&libraries=places&key=AIzaSyD6NEpPLt-hOAbzrNsItLLoTqufaDqj1fY"></script>
</head>

<body>

  <ons-sliding-menu above-page="tpl/map.html" behind-page="tpl/menu.html" side="left" swipe-target-width="30px" max-slide-distance="250px" var="menu"></ons-sliding-menu>

  <div class="modal-wrapper" ng-if="state.needAuth">
    <div class="overlay"></div>
    <div class="modal" ng-controller="AuthController">
      <h5>Authentify to continue</h5>
      <button class="slide-left button-- effeckt-button button no-select" ng-click="signin()">
      <i class="fa fa-facebook"></i>
        Login with Facebook
      </button>
        <p>We'll never post anything to Facebook</p>
    </div>
  </div>

  <script src="lib/onsen/js/angular/angular.min.js"></script>
  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular-ui-utils/ui-utils.js"></script>
  <script src="bower_components/angular-ui-map/ui-map.js"></script>
  <script src="lib/onsen/js/onsenui.js"></script>    
  
  <script src="js/const.js"></script>
  <script src="js/app.js"></script>  
  <script>
    ons.ready(function() {
    });
  </script>

  <script src="cordova.js"></script>
</body>  
</html>
