<div ng-controller="MarketController">
<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="cancel()"><ons-icon icon="chevron-left"></ons-icon></ons-toolbar-button>
    </div>
    <div class="center">Fifty Farmers</div>
  </ons-toolbar>

 	<div class="items">
	 	<div class="item" ng-repeat="item in state.items" ng-click="select(item.id)" style="background-image:url('{{state.placeholders[item.sort]}}');">
     		<div class="price">${{item.price}}</div>
     		<img ng-src="{{state.icons[item.sort]}}">
     		<div class="check" ng-click="remove(item.id)"><i class="fa fa-minus fa-2x"></i></div>
	 	</div>
	</div>

	<footer>
		<button class="slide-left button-- effeckt-button button no-select button--large" ng-click="checkout()">${{total}} Basket. Pay</button>
	</footer>

</ons-page>
</div>

